<{% extends 'homepage/base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Tables Output</title>
</head>
<body>

    <div class="container">
    {% block content %}

        <h3>Seats Free</h3>

        {% for obj in output2 %}

        <p><b>Seats Free Count</b>> {{ obj.sf_count }} <b>Train Number:</b> {{ obj.sf_train }}
            <b>Segment:</b> {{ obj.sf_segment }}</p><br><br>

        {% endfor %}


        <div class="pagination">

            <span class="step-links">
                {% if output.has_previous %}
                <a href="?seatpage={{ output.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                Page {{ output.number }} of {{ output.paginator.num_pages }}.
                </span>

                {% if output.has_next %}
                <a href="?seatpage={{ output.next_page_number }}"> Next Page </a>
                {% endif %}

            </span>

        </div>



    {% endblock content %}
    </div>


</body>
</html>
